/* CSS pagina generica */

html, body{
  
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(221, 220, 220);
}
body{
  font-family: Arial, Helvetica, sans-serif;
}

/*CSS Independentes*/

.buttons{
  border: none;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

/* CSS flex-conteiner */

.conteiner{
  display: flex;
  flex-direction: column;
  padding: 3% 20% 10% 20%;
  background-color: rgb(220, 221, 221);
  flex-wrap: row nowrap;
  font-family: Arial, Helvetica, sans-serif;

}
.dashboard__header__status {
  display: flex;
  justify-content: space-between;
  background-color:  rgb(216, 223, 223);
  border: 2px rgb(108, 142, 157) solid;
  margin: 0px 0px 5px 0px;
  padding: 5px 5px 5px 5px;
  font-size: 16px;
  order: 0;
}

.dashboard__header__right > div{
  float: left;
  margin-right: 25px;
}
.dashboard__content__cards {
  display: flex;
  flex-basis: 380px;
  flex-direction: column;
  order:1;
}
.dashboard__content__questFlex{
  flex-basis: 50%;
  background-color: rgb(216, 223, 223);
  border: 2px rgb(108, 142, 157) solid;   
  border-bottom: none;
}

#dashboard__content__response{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 223, 223);
  border: 2px rgb(108, 142, 157) solid;
}
#dashboard__content__SeeResponse{
  font-weight: bolder;
  color: white;
  font-size: 15px;
  background-color: rgb(113, 119, 208);
  transition: 0.3s;
}
#dashboard__content__SeeResponse:hover{
  transition: 0.5s;
  background-color: rgb(85, 91, 172);
}

.dashboard__content__text{
  flex-basis: 100%;
  padding: 10px 10px 10px 10px;
  margin: 0px;
  font-size: 15px;
}
.dashboard__content__next{
  margin-top: 5px;
  align-items: center;
  
  text-align: center;
  margin-bottom: 15px;
  height: 70px;
}
#dashboard__content__acerto{
  background-color: rgb(48, 146, 97);
  font-size: 15px;
  padding: 10px 25px 10px 25px;
  min-width: 100px;
  margin-left: 5px;
  transition: 0.3s;
}
#dashboard__content__acerto:hover{
  transition: 0.5s;
  background-color: rgb(42, 121, 86);
}

#dashboard__content__erro{
  background-color: rgb(240, 70, 70);
  font-size: 15px;
  padding: 10px 25px 10px 25px;
  min-width: 100px;
  margin-right: 5px;
  transition: 0.3s;
}
#dashboard__content__erro:hover{
  transition: 0.5s;
  background-color: rgb(209, 53, 60);
}
.dashboard__footer__new{
  display: flex;
  background-color: rgb(216, 223, 223);
  border: 2px rgb(108, 142, 157) solid;
  height: 100px;
  order:1;
}
#dashboard__footer__NewCard{   
  transition: 0.5s;

  text-align: center;
  flex-basis: 100%;
  background-color:  rgb(216, 223, 223);
  color: black;      
  font-size: 20px;
  border: none;
}
#dashboard__footer__NewCard:hover{   
  transition: 0.6s;
  background-color: rgb(200, 214, 214);
  
  border: 1px rgb(171, 192, 192) solid ;
}
@media screen and (max-width: 800px){
  .conteiner{
    padding: 3% 10% 10% 10%;
  }
}