.App{
  background-color: blue;
}
  .grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;

    padding: 10px;
  }
  #User{
    border: 2px solid rgba(0, 0, 0, 0.8);
    background-color:lightgreen;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .now{
    border: 2px solid rgba(0, 0, 0, 0.8);
    background-color: lightcoral;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .new{
    border: 2px solid rgba(0, 0, 0, 0.8);
    background-color: lightcoral;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  