#AddBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

.AddCard {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, 0);
  min-height: 10rem;
  width: 30rem;
  margin-inline: auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: #051B24;
  text-align: center;
  z-index: 1;
  color: #266A8D; }

.AddCard_TextInput {
  text-align: left;
  margin: 1rem auto 1rem auto;
  border-bottom: 2px solid #266A8D;
  background: rgba(40, 112, 148, 0.21);
  border-radius: 10px 10px 0px 0px;
  padding: 1rem;
  font-size: 1rem;
  color: #71B6D9;
  cursor: text; }
  .AddCard_TextInput[placeholder]:empty:before {
    content: attr(placeholder);
    color: rgba(40, 112, 148, 0.5); }
  .AddCard_TextInput[placeholder]:empty:focus::before {
    content: ""; }

#AddCreateCard_button {
  background-color: #266A8D;
  color: #051B24; }

#AddBack {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  cursor: pointer; }
