button {
  border: none;
  padding: 10px 25px 10px 25px;
  border-radius: 5px;
  color: white;
  background-color: gray;
  font-weight: bolder;
  font-family: var(--font-family-primary);
  cursor: pointer; }

.container {
  display: flex;
  flex-direction: column; }

main {
  display: flex;
  flex-direction: column; }
