.card {
  display: flex;
  flex-direction: column;
  min-height: 33rem;
  height: 100%;
  width: 30rem;
  margin-inline: auto;
  margin-top: 5vmin;
  border-radius: 10px;
  background-color: #FFF7DC; }

#card_background {
  position: fixed;
  inset: 0 0 0 0;
  width: 100%;
  height: 100%;
  background-color: #541899;
  z-index: -1; }

.card_title {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 1rem;
  min-height: 4rem;
  height: 100%;
  font-size: 1.4rem;
  color: #20053D;
  word-wrap: break-word; }

.card_quest {
  display: flex;
  flex-direction: column;
  min-height: 23rem;
  height: 100%;
  margin: 0 1rem 0 1rem;
  text-align: center;
  justify-content: center;
  font-size: 1.2rem;
  word-wrap: break-word; }

.card_footer {
  display: flex;
  justify-self: end;
  margin-top: 1rem;
  height: 3rem;
  position: relative; }
  .card_footer > a {
    display: flex;
    text-decoration: none;
    color: #20053D;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    font-size: 1.4rem;
    cursor: pointer; }
  .card_footer > span {
    position: absolute;
    left: 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    align-self: center; }

.card_missAndHit {
  display: flex;
  width: calc(40rem - 20vmin);
  margin: 1rem auto auto auto;
  justify-content: center; }

#card_missed {
  background-color: #20053D;
  color: #F8C304;
  margin: auto 1rem auto auto; }

#card_hit {
  background: #F8C304;
  color: #20053D;
  margin: auto auto auto 1rem; }

@media screen and (max-width: 600px) {
  .card {
    min-height: calc(33rem);
    width: 80%;
    min-height: 33rem; }
  .card_quest {
    min-height: 23rem; }
  .card_missAndHit {
    width: 80%; }
  #card_missed, #card_hit {
    width: 9rem !important;
    height: 2.8rem !important; } }

@media screen and (max-width: 450px) {
  .card {
    min-height: 28rem  !important;
    width: 80% !important;
    margin-top: 10vmin; }
  .card_quest {
    min-height: 18rem  !important; }
  .card_missAndHit {
    width: 80% !important;
    flex-wrap: wrap;
    justify-content: space-around; }
  #card_missed, #card_hit {
    width: 7rem !important;
    height: 2.6rem !important;
    margin: 0; }
  .card_title {
    font-size: 1.4rem; }
  .card_quest {
    font-size: 1rem; }
  .card_footer > a {
    font-size: 1.2rem; }
  .card_footer > span {
    display: none; }
  #card_missed, #card_hit {
    font-size: 1.2rem; } }
