.card {
  display: flex;
  flex-direction: column;
  height: 43rem;
  width: 40rem;
  margin-inline: auto;
  margin-top: 4rem;
  border-radius: 10px;
  background-color: #ebf5ff; }

.card_title {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 1rem;
  height: 4rem;
  font-size: 1.7rem; }

.card_quest {
  display: flex;
  flex-direction: column;
  height: 33rem;
  margin: 0 1rem 0 1rem;
  text-align: center;
  justify-content: center;
  font-size: 1rem; }

.card_footer {
  display: flex;
  margin-top: 1rem;
  height: 3rem;
  position: relative; }
  .card_footer > a {
    display: flex;
    text-decoration: none;
    color: initial;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.301);
    font-size: 1.2rem;
    cursor: pointer; }
  .card_footer > span {
    position: absolute;
    left: 1rem;
    font-size: 1rem;
    cursor: pointer;
    align-self: center; }

.card_missAndHit {
  display: flex;
  justify-content: space-around;
  width: calc(40rem - 20vmin);
  margin: 1rem auto auto auto; }

#card_missed {
  background: linear-gradient(180deg, rgba(206, 83, 83, 0.9) 0%, #CE5353 100%);
  color: #e9f4ff; }

#card_hit {
  background: linear-gradient(180deg, rgba(99, 197, 75, 0.9) 0%, #63C54B 100%);
  color: #e9f4ff; }
