@import 'vars.scss';

#AddCard{
  display: none;
  &_background{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
  }
  .AddCard_main{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0);
    min-height: 10rem;
    min-width: 15rem;
    max-width: 25rem;
    width: 60%;
    
    margin-inline: auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: $color-primary;
    text-align: center;
    color: $color-secundary;
    z-index: 1;
    &_header{
      #AddCard_arrowBack{
        position: absolute;
        top: 1.3rem;
        left: 1rem;
        cursor:pointer;
      }
    }
    &_form{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-block: auto;
      
      &_input{
        text-align:left;
        width: calc(100% - 2rem);
        padding: 1rem 1rem .3rem 1rem;
        min-height: 2rem;
        margin: 1rem auto 1rem auto;
        border-bottom: 2px solid $color-secundary;
        background: $input-background;
        border-radius: 10px 10px 0px 0px;
        font-size: $font-size-default;
        color: $input-color;
        word-wrap: break-word;
        cursor: text;
        &[placeholder]:empty:before {
          content: attr(placeholder);
          color: $input-placeholder; 
        }
        &[placeholder]:empty:focus::before {
          content: "";
        }
      }
      &_submit{
        background-color: $color-secundary;
        font-size: $font-size-great;
      }
    }
  }
}
@media screen and (max-width:450px){
  #AddCard{
    .AddCard_main{
      width: 85%;
    }
  }  
}