@import './vars.scss';
@import './fonts.scss';

.registry{
  #registry_background{
    background-image: url('../assets/backgroundSecundary.png');
    position: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  &_header{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    align-items: center;
    width: 28rem;
    height: calc(8rem + 5vw);
    font-family: 'Risque';
    font-size: 3.5rem;
    color: $input-color;
    user-select: none;
  }
  &_main{
    display: flex;
    flex-direction: column;
    width: 28rem;
    margin-inline: auto;
    &_form{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &_input{
      margin: 3rem 0 0 0;
      height: 2.5rem;
      width: 16rem;
      padding-inline: 1rem;
      border-radius: 10px 10px 1px 1px;
      border-bottom: 2px solid $color-secundary;
      background: $input-background;
      color: $input-color;
      font-size: $font-size-default;
      box-shadow: inset 0px 4px 4px rgba(5, 27, 36, 0.25);
      font-family: 'roboto';
      &::placeholder{
        color: $input-placeholder;
      }
      &:nth-of-type(3){
        margin-bottom: 5rem;
      }
    }
    &_submit{
      background-color: $color-secundary;
      width: 18rem;
      font-family: 'Poly';
    }
    &_login{
      display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1.5rem auto 1.5rem auto;
    width: 18rem;
    height: 4rem;
    font-size: $font-size-great;
    color: $input-color;
    font-family: 'roboto';
    cursor: pointer;
    }
  }
}
@media screen and (max-width: 43rem) {
  .registry{
    &_header{
      width: 18rem;
      height: 8rem;
      font-size: 3.5rem;
    }
    &_main{
      width: 18rem;
      &_container_input{ 
        display: flex;
      }  
      &_input{
        margin: calc(1rem + 5vh) 0 0 0;
        height: 3rem;
        width: 14rem;
        border-radius: 12px 12px 1px 1px;
        color: $input-color;
        font-size: $font-size-default;
        &:nth-of-type(3){
          margin-bottom: calc(3rem + 5vh);
        }
      }
      &_submit{
        width: 16rem;
        font-size: $font-size-big;
      }
      &_login{
        display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 1.5rem auto 1.5rem auto;
      width: 18rem;
      height: 4rem;
      font-size: $font-size-great;
      color: $input-color;
      font-family: 'roboto';
      cursor: pointer;
      }
    }
  }
}