@import 'vars.scss';

.card{
  display: flex;
  flex-direction: column;
  height: 43rem;
  width: 40rem;
  margin-inline: auto;
  margin-top: 4rem;
  border-radius: 10px;
  background-color: $background-Card;
}
.card_title{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 1rem;
  height: 4rem;
  font-size: $font-size-great;
}
.card_quest{
  display: flex;
  flex-direction: column;
  height: 33rem;
  margin: 0 1rem 0 1rem;
  text-align: center;
  justify-content: center;
  font-size: $font-size-min;
}
.card_footer{
  display: flex;
  margin-top: 1rem;
  height: 3rem;
  position: relative;
  & > a{
    display: flex;
    text-decoration: none;
    color: initial;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.301);
    font-size: $font-size-default;
    cursor:pointer;

  }
  & > span{
    position: absolute;
    left: 1rem;
    font-size: $font-size-min;    
    cursor:pointer;
    align-self: center;
  }
}
.card_missAndHit{
  display: flex;
  justify-content: space-around;
  width: calc(40rem - 20vmin);
  margin: 1rem auto auto auto ;
}
#card_missed{
  background: linear-gradient(180deg, rgba(206, 83, 83, 0.9) 0%, #CE5353 100%);
  color: rgba(233, 244, 255, 1);
}
#card_hit{
  background: linear-gradient(180deg, rgba(99, 197, 75, 0.9) 0%, #63C54B 100%);
  color: rgba(233, 244, 255, 1);
}