$background-primary: #266A8D;
$background-secondary: #051B24;
$background-Card: hsla(209, 100%, 96%, 1);
$font-size-min: 1rem;
$font-size-default: 1.2rem;
$font-size-great: 1.7rem;
$input-background: rgba(40, 112, 148, 0.21);
$input-placeholder: rgba(40, 112, 148, 0.5);
$input-color: #71B6D9;