//backgrounds
$color-primary: #20053D;
$color-secundary: #F8C304;
$color-tertiary: #04558A;
$background-Card: #FFF7DC;

//inputs
$input-background: #6C117B;
$input-placeholder: #f8c3047a;
$input-color: #F8C304;

//fonts
$font-size-min: 0.8rem;
$font-size-small: 1rem;
$font-size-default: 1.2rem;
$font-size-great: 1.4rem;
$font-size-big: 1.8rem;